# Ignore prototypes created by an AI
prototypes

# Ignore Go intermediary artifacts
**/go.sum

# Ignore environment variable files
**/*.env
**/.env.*
**/*_env.ps1
**/env.ps1

# Ignore configuration files (to prevent committing secrets)
config.yml
config.yaml
config.json
config.toml
config.env

# Ignore binary files
azure-ssl-certificate-provisioner
azure-ssl-certificate-provisioner.exe

# Ignore LEGO files
**/.lego

# Ingnore Azure CLI files
**/.azure

# Ignore build artifacts
bin/
build/
dist/
out/
*.log
*.tmp
*.cache
*.bak
*.swp
*.exe

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl
**/*tfplan*
**/*.tfvars
!**/*.auto.tfvars

# Environment files
**/*.env.sh
**/serial.txt
**/build_number.txt

# VS Code workspace settings
**/*.code-workspace