# Ignore prototypes created by an AI
prototypes

# Ignore Go intermediary artifacts
**/go.sum

# Ignore environment variable files
.env
.env.*

# Ignore binary files
azure-ssl-certificate-provisioner
azure-ssl-certificate-provisioner.exe

# Ignore LEGO files
**/.lego